/* fontface */
@font-face {
    font-family: 'FuturaStdBold';
    src: url('fonts/futurastd-bold/uturastd-bold.eot');
    src: url('fonts/futurastd-bold/futurastd-bold.eot') format('embedded-opentype'),
         url('fonts/futurastd-bold/futurastd-bold.woff') format('woff'),
         url('fonts/futurastd-bold/futurastd-bold.ttf') format('truetype'),
         url('fonts/futurastd-bold/futurastd-bold.svg#FuturaStdBold') format('svg');
}
@font-face {
    font-family: 'FuturaStdHeavy';
    src: url('fonts/futurastd-heavy/futurastd-heavy.eot');
    src: url('fonts/futurastd-heavy/futurastd-heavy.eot') format('embedded-opentype'),
         url('fonts/futurastd-heavy/futurastd-heavy.woff') format('woff'),
         url('fonts/futurastd-heavy/futurastd-heavy.ttf') format('truetype'),
         url('fonts/futurastd-heavy/futurastd-heavy.svg#FuturaStdHeavy') format('svg');
}
@font-face {
    font-family: 'FuturaStdBook';
    src: url('fonts/futurastd-book/futurastd-book.eot');
    src: url('fonts/futurastd-book/futurastd-book.eot') format('embedded-opentype'),
         url('fonts/futurastd-book/futurastd-book.woff') format('woff'),
         url('fonts/futurastd-book/futurastd-book.ttf') format('truetype'),
         url('fonts/futurastd-book/futurastd-book.svg#FuturaStdBook') format('svg');
}

*{margin:0;padding:0;}