body{
	background: #eceef3;
	color: #474a54;
}
#main{
	width: 1220px;
	color: #000000;
	font-family: 'Lato', sans-serif;
	font-weight: 400; 
	margin: 0 auto;
	min-height: 400px;
	padding: 15px 5px 30px;
}
.login_account{
	width: 365px;
	background: #FFFFFF;
	margin: 10% auto;
	min-height: 338px;
	padding: 15px 40px 38px;
}
#login_form{
	margin: 0px;
}
.login_account h1{
	font-size: 25px;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	margin: 0 auto;
	text-align: center;
	color: #0C76CF;
}
.login_account .login_text{
	font-family: 'Lato', sans-serif;
	letter-spacing: 1px;
	font-weight: 300;
	padding: 20px;
	width: 283px;
	border-radius: 0;
	margin: 15px 0px;
}
.login_account .txt_usr{
	margin-top: 10px;
}
.login_account .txt_pwd{
	margin-bottom: 10px;
}
.login_account .login_button{
	font-family: 'Lato', sans-serif;
	letter-spacing: 1px;
	font-weight: 300;
	padding: 20px;
	width: 283px;
	background: #0C76CF;
	color: #FFFFFF;
	border: none;
	outline: 0px;
	margin-top: 20px;
}
.login_account .login_button:hover{
	background: #0c56ce;
}
.login_account .login_button:active{
	background: #0C76CF;
}
.login_account	.login_message{
	position: absolute;
	margin: 8px 0px;
	display: none;
}





